form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
fieldset {
  padding: 10px;
  box-shadow: 5px 5px 5px;
}
fieldset,
section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
textarea {
  width: 100%;
  font-size: 1rem;
}
legend {
  font-weight: bold;
  font-size: large;
}
.icon:hover {
  transform: scale(1.3);
}
